/* CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-size-base: 16px;
    --font-family-base: Arial, sans-serif;
}

/* Global styles */
body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: #333333;
    /*background-color: rgb(249, 220, 224);*/
    background-color: #f3e4d5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-left: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}


/* Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em; /* Dodano */
    background-color: #faf4ee; /* Dodano */
}

h1 {
    margin: 0; /* Dodano */
    margin-left: 1em;
    color:#603e19;
}

.cart-container {
    display: flex;
    align-items: center;
    margin-right: 3em;
}


.cart-button {
    background-color: #603e19;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    padding-left: 2em;

}

.cart-badge {
    background-color: rgb(243, 224, 227);
    color: black;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    font-size: 0.8em;
}

/* Items grid styles */
.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5em;
    margin-top: 5em;

    /* Dodano */
    margin-left: 5em; 
    margin-right: 5em; 
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: #faf4ee; /* Dodano */
    
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1em;

    /* Dodano */
    margin-bottom: 1em; /* Dodano */
}

.item h2 {
    font-size: 1.3em;
    margin-top: 0.8em;
    color: black;
}

.item p {
    font-size: 1.3em;
    margin: 0.5em 0;
    color: black;
}

.add-to-cart-btn {
    background-color:#603e19;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: auto;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show-modal {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #ccc;
    max-width: 600px;
}

.close {
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.cart-items li span {
    margin-left: 0.5em;
}

.cart-total {
    font-weight: bold;
}

.buy-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 1em;
}